[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
flask = "*"
flask-pymongo = "*"
opencv-python = "*"
python-dotenv = "*"
tensorflow = "*"

[dev-packages]

[scripts]
dev = """sh -c "
pipenv sync --system \ 
&& docker start database \
&& flask --app main.py --debug run"
"""

[requires]
python_version = "3.10"
