<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= username %> </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/home.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <h1><%= username %></h1>
            <button onclick="logout()">Logout</button>
        </header>
        
        <section>
            <button id="1" onclick="information(this)">Sustainability projects</button>
            <button id="2" onclick="information(this)">Ministry employees</button>
            <button id="3" onclick="information(this)">Nature enemies</button>
        </section>

        <script>
            window.history.pushState('Object', 'Ministry of Environment | Home', '/home')

            function information(button){
                const id = parseInt(button.id)

                switch (id) {
                    case 1:
                        window.location.replace(`/information/${id}`)
                        break;

                    case 2:
                    case 3:
                        fetch(`/information/${id}`)
                            .then(response => response.json())
                            .then(data => {
                                // Unauthorized
                                if(!data.status){
                                    alert(`Unauthorized\n\nRequired Access: ${data.requiredAccessLevel}\nYour Access: ${data.yourAccessLevel}`)
                                }else{
                                    window.location.replace(`/information/${id}`)
                                }
                            })
                            .catch(error => console.log(error))
                        break;
                }
            }

            async function logout(){
                try {
                    await fetch('/logout', { method: 'GET' })
                    location.reload()
                } catch (error) {
                    console.log(error)
                }
            }
        </script>
    </body>
</html>