
.drag-file-area {
    border: 2px dashed #13D118;
    border-radius: 40px;
    margin: 10px 0 15px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.drag-file-area .upload-icon {
    font-size: 40px;
    color: #444;
}   

.drag-file-area .dynamic-message {
    color: #444;
    font-size: 1.3rem;
    font-weight: 800;
    margin: 15px 0;
}

.drag-file-area label {
    font-size: 1rem;
    position: relative;
}

.drag-file-area label .browse-files-text {
    color: #13D118;
    font-weight: bolder;
    cursor: pointer;
}

.browse-files span {
    top: -25px;
}

.default-file-input {
    opacity: 0;
    position: absolute;
}

.cannot-upload-message {
    background-color: #ffc6c4;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    color: #BB0000;
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cannot-upload-message span,
.upload-button-icon {
    padding-right: 10px;
}

.cannot-upload-message i {
    margin-left: 10px;
    cursor: pointer;
    background-color: #BB0000;
    color: #fff;
    border-radius: 50%;
    font-size: 0.7rem;
    padding: 5px;
    font-weight: bold;
}

.file-block {
    color: #f7fff7;
    background-color: #13D118;
    transition: all 1s;
    width: 390px;
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 15px;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.file-info {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.file-icon {
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.file-name,
.file-size {
    padding: 0 3px;
}

.remove-file-icon {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.progress-bar {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 4.5%;
    width: 0;
    height: 5px;
    border-radius: 25px;
    background-color: #4BB543;
}