<div class="panel left-panel">
    <div class="content">
        <h3>New here?</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
            ex ratione. Aliquid!
        </p>
        <button class="btn transparent" id="sign-up-btn">
            Sign up
        </button>
    </div>
    <img src="img/undraw_friendship_mni7.svg" class="image" alt="" />
</div>