<form action="/auth" method="POST" class="sign-in-form" enctype="multipart/form-data">
    <h2 class="title">Sign in</h2>
    <input type="file" name="fingerprint"/>
    <input type="submit" value="Login" class="btn solid upload-button" />
    
    <!-- <div class="drag-file-area">
        <span class="material-icons-outlined upload-icon"><i class="lni lni-upload"></i></span>
        <div class="dynamic-message"> Drag & drop your fingerprint </div>
        <label class="label"> or 
            <span class="browse-files">
                <span class="browse-files-text">browse file</span> file from device
            </span>
        </label>
    </div>

    <span class="cannot-upload-message">Please
        select a file first <i class="lni lni-close cancel-alert-button"></i>
    </span>

    <div class="file-block">
        <div class="file-info"> <i class="lni lni-paperclip file-icon"></i> <span
                class="file-name"> </span> | <span class="file-size"> </span> </div>
            <i class="lni lni-trash-can remove-file-icon"></i>
        <div class="progress-bar"> </div>
    </div> -->

</form>